// Centers using flexbox
@mixin center($direction: "", $text: "") {
  display: flex;

  @if ($direction == "col") {
    flex-direction: column;
  }

  @if ($direction == "row") {
    flex-direction: row;
  }

  justify-content: center;
  align-items: center;
}