// MAIN WRAPPER
main {
  margin-top: 25px;
  padding: 0 20px;
  @include center('col');
}

// HEADER
header {
  .content {
    text-align: center;

    @media only screen and (min-width: $desktop) {
      @include center();
    }
  }

  .heading {
    font-size: 1em;
    line-height: 0.9;
    letter-spacing: 3.9px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media only screen and (min-width: $desktop) {
      margin-bottom: 0;
      order: 2;
      font-size: 2em;
      @include center('col');
    }
  }

  .work {
    font-size: 3.052em;
    font-weight: 600;
    letter-spacing: 0;
    color: $leaf-green;
    display: block;
  }

  .bio {
    line-height: 1.5;

    @media only screen and (min-width: $desktop) {
      order: 1;
    }

    .bold {
      font-weight: 600;
    }
  }
}

// FOOTER
footer {
  & {
    width: 100%;
    @include center();
  }

  .social-icon {
    width: 50px;
    margin: 0 20px;
  }
}